<nav class="nav-buttons">
    <a href="../2020/1.Geographic_and_Institutional_Coverage/1.GeographicInstitutionalCoverage.html">1. Geographic & Institutional Coverage</a>
    <a href="../2020/2.Human_Resources_and_Training/2.HumanResourcesTraining.html">2. Human Resources and Training</a>
    <a href="../2020/3.Equipment/3.LaboratoryEquipmentTechnicalCapabilities.html">3. Equipment & Technical Capabilities</a>
    <a href="../2020/4.Methods/4.AnalyticalMethodDevelopmentImplementation.html">4. Method Development</a>
    <a href="../2020/5.Radionuclides_measured/5.RadionuclidesMeasured.html">5. Radionuclides Measured</a>
    <a href="../2020/6.Quality_Management_and_Reporting/6.QualityManagementReporting.html">6. Quality Management</a>
    <a href="../2020/7.EnvironmentalMonitoringCapabilities/7.EnvironmentalMonitoringCapabilities.html">7. Environmental Monitoring</a>
    <a href="../2020/8.RegulatoryFramework/8.NationalInternationalregulatoryFramework.html">8. Regulatory Framework</a>
    <a href="../2020/9.Future_Activities/9.RequestedFutureActivities.html">9. Future Activities</a>
</nav>
