<nav class="hidden md:flex space-x-6">
    <a href="../Members/members.html" class="nav-link text-[var(--color-primary-light)] hover:text-white hover:bg-[var(--color-primary-dark)]">Members</a>
    <a href="../Structure/structure.html" class="nav-link text-[var(--color-primary-light)] hover:text-white hover:bg-[var(--color-primary-dark)]">Structure</a>
    <a href="../Coordination_Meetings/meetings.html" class="nav-link text-[var(--color-primary-light)] hover:text-white hover:bg-[var(--color-primary-dark)]">Coordination Meetings</a>
    <a href="../Proficiency_Tests/tests.html" class="nav-link text-[var(--color-primary-light)] hover:text-white hover:bg-[var(--color-primary-dark)]">Proficiency Tests</a>
    <a href="../Analytical_Methods/methods.html" class="nav-link text-[var(--color-primary-light)] hover:text-white hover:bg-[var(--color-primary-dark)]">Analytical Methods</a>
    <a href="../Workshops/workshops.html" class="nav-link text-[var(--color-primary-light)] hover:text-white hover:bg-[var(--color-primary-dark)]">Workshops</a>
    <a href="../Webinars/webinars.html" class="nav-link text-[var(--color-primary-light)] hover:text-white hover:bg-[var(--color-primary-dark)]">Webinars</a>
    <a href="../History/history.html" class="nav-link text-[var(--color-primary-light)] hover:text-white hover:bg-[var(--color-primary-dark)]">History</a>
    <a href="../../ALMERA_in_Data/ALMERA_in_Data_Homepage/stats.html" class="nav-link text-[var(--color-primary-light)] hover:text-white hover:bg-[var(--color-primary-dark)]">ALMERA in Data (2025)</a>
    <a href="https://teams.microsoft.com/l/team/19:c359651111d64497970da3e1230cdd75@thread.tacv2/conversations?groupId=878cac38-f62e-4437-8d57-86cfd70a84f5&tenantId=a2f21493-a4d1-4b7f-ad07-819c824f5c4a" target="_blank" rel="noopener noreferrer" class="nav-link bg-[var(--color-accent-green)] hover:bg-[var(--color-accent-green-dark)] text-white px-5 py-2 rounded-full shadow-md transition-all duration-300 transform hover:scale-105">ALMERA Inside</a>
</nav>
